:root {
  /* Default = Pink */

  --theme-primary: #7c3aed;
  --theme-accent: #ec4899;
  --theme-primary-dark: #6d28d9;
  --theme-primary-light: #f5edff;

  --theme-hero-bg: #f8f4ff;
  --theme-hero-bg2: #fdf7ff;

  --theme-card-bg: #fff8fc;

  --theme-border: #d8b4fe;

  --theme-shadow: rgba(217, 70, 239, 0.22);
}